.delete-form button {
    background-color: red;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: none;
    display: inline-block;
}

.delete-form button:hover {
    background-color: #CE0000;
    height: 34.67px;
}

button#show-add-form,
button#cancel-add-course,
button.change-thumbnail-btn,
button[type="submit"]#save {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: none;
}

button#show-add-form:hover,
button#cancel-add-course:hover,
button.change-thumbnail-btn:hover,
button[type="submit"]#save:hover {
    background-color: #0056b3;
}

.course-action {
    position: relative;
    z-index: 1;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.dashboard-header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.dashboard-header nav a:hover {
    color: #d1e3ff; /* Biru muda terang saat hover */
}


